body{
    background-size: cover;
}
.heading{
    width: 100%;
    margin: 0px;
    font-size: 25px;
    font-family: 'Rubik Dirt', cursive;
}
.note{
    font-size: medium;
    color: red;
}
#song_name{
    background-color: red;
    width: 150px;
    color: white;
    font-size: medium;
}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 65px;
}